body {
    background-color: #064780;
}

header {
    background-color: #ECECEA;
    opacity: 0.9;
    z-index: 999;
    display: flex;
    height: 100px;
    position: fixed;
    top: 0%;
    left: 0%;
    font-weight: 50s0;
    padding-right: 20px;
}

.logo {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 50px;
}

.navi {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.navi > div {
    width: 100px;
    padding-top: 40px;
    font-size: larger;
    color: #0f3054;
    margin-left: 20px;
    font-family: sans-serif;
}

.social {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: end;
}

ul {
    margin: 0 20px 0 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

ul li a .fa {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(50px - 10px);
    font-size: 20px;
    color: #262626;
    transition: .5s;
}

ul li:nth-child(1) a:hover .fa {
    color: #3b5998;
}

ul li:nth-child(2) a:hover .fa {
    color: #007bb6;
}

ul li:nth-child(3) a:hover .fa {
    color: #e4405f;
}

.Welcome {
    height: 800px;
    display: flex;
    justify-content: space-around;
    font-family: "Calistoga", serif;
}

.Welcome > div {
    width: 40%;
    color: #ffffff;
}

.Welcome > div > div {
    font-size: 40px;
    margin: 40px 0 0 70px;
}

#start {
    width: 140px;
    border-radius: 10px;
    color: #064780;
    font-family: "Calistoga", serif;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#start:hover {
    background-color: #bababa;
    transform: scale(0.95);
    transition: 0.4s;
}

.gif {
    margin-top: 150px;
}

#app {
    height: 600px;
    margin: 20px;
}

.intruct {
    text-align: center;
    font-size: 20px;
    color: #ECECEA;
    font-weight: 100;
    font-family: "Salsa", "cursive";
    margin-top: 50px;
}

.inputs {
    text-align: center;
}

.submit {
    margin-left: 661.6px;
    margin-top: 20px;
    width: 140px;
    border-radius: 10px;
    color: #064780;
    font-family: "Calistoga", serif;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.submit:hover {
    background-color: #bababa;
    transform: scale(0.95);
    transition: 0.4s;
}

.radio-button {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    padding: 8px 16px;
    transition: 0.2s all;
    cursor: pointer;
    user-select: none;
    font-family: sans-serif;
    background-color: white;
    color: #064780;
}

.radio-button input[type="radio"]:checked + label {
    background-color: #eee;
}

.inputs textarea {
    outline: none;
    border: solid 1px #ddd;
    margin: 10px 0 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}

#About {
    border-radius: 15px;
    background-color: #ECECEA;
    height: 1000px;
    color: #064780;
    position: sticky;
    left: 0%;
    padding: 40px 150px 40px 150px;
}

.about1 {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    font-family: "Roboto Slab", serif;
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#team > div {
    height: 250px;
    width: 250px;
    background-color: #064780;
    color: #ECECEA;
    font-family: "Roboto Slab", serif;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
}

#team > div:hover {
    box-shadow: 4px 4px 16px black;
    transition: 0.5s;
}

footer {
    height: 550px;
    background-color: #ECECEA;
    color: #0f3054;
    padding: 1px 100px 10px 150px;
    border-radius: 15px;
}

.contact {
    display: flex;
    margin-top: 50px;
}

.Hourly {
    width: 20%;
    height: 20%;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 10px;
    line-height: 25px;
}

.Cdetails {
    width: 24%;
    height: 20%;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    margin-right: 70px;
    line-height: 25px;
}

.GMAP {
    width: 40%;
    height: 300px;
}

.email {
    height: 40px;
    width: 40px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
